<div class="nav-container">
    <nav class="navbar" id="navbar">
        <a href="/index.html" class="logo">
            <i class="fas fa-cannabis"></i> StrainNavigator
        </a>
        <ul class="nav-links" id="navLinks">
			<li><a href="/tools/growhelp.html">AI Grow Help</a></li>
			<li><a href="/tools/tracker.html">Strain Tracker</a></li>
			<li><a href="/tools/seeds.html">Explore Strains</a></li>
			<li><a href="/tools/labels.html">AI Branding</a></li>
			<li><a href="/tools/growitgame.html">Manage Grow</a></li>
        </ul>
        <div class="hamburger" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</div>
